:root {
  --el-color-primary: #00887a;
  --el-color-primary-light-3: #189483;
  --el-color-primary-light-5: #33a18e;
  --el-color-primary-light-7: #53ad9b;
  --el-color-primary-light-8: #77baab;
  --el-color-primary-light-9: #b3c7c2;
  --el-color-primary-dark-2: #003b39;

  --custom-bg-dark: #001529;
  --custom-vue: #42b983;
}
